@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.header{
    font-family: 'Space Grotesk', sans-serif;	
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 7.9vh;
    text-decoration: underline;
}

.instructions{
    height: 15vh;
    font-size: 2.3vh;
    font-family: 'Space Grotesk', sans-serif;	
    text-align: center;
    margin-bottom: 3vh;
}

.conclusion{
    height: 10vh;
    font-size: 2.4vh;
    font-family: 'Space Grotesk', sans-serif;	
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 15vh;
}

.meals {
    font-family: 'Space Grotesk', sans-serif;	
    margin-top: 15px;
    color: black;
    font-size: 7.1vh;
    text-decoration: underline;
    margin-bottom: 0.5%;
}


.third {
    height: 31.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    height: 29vh;
    width: 32%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    
    background-image: linear-gradient(to left, #614385, #516395);
    opacity: 0.7;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}

.small-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: white;
    border: 2px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
.item-text {
    font-family: 'Space Grotesk', sans-serif;	
    line-height: 1.1;
    font-weight: 500;
    font-size: 5vh;
}

.calories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 37%;
    width: 95%;
    margin-top: 9px;
    margin-left: 2.5%;
    background-color: white;
    border: 2px solid black;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 90%;
    border-radius: 50%;
    font-size: 2.1vh;
    font-family: 'Space Grotesk', sans-serif;
    border: 2px solid black;
    background-image: linear-gradient(to bottom right, #ff9d2f, #ff6126);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    overflow: hidden;
    margin-top: -2.2vh;
}

.current-calorie, .current-breakfast, .current-lunch, .current-dinner{
    display: inline;
}

.margin {
    height: 2vh;
    margin-top: 2vh;
}

#activity-range1, #activity-range2, #activity-range3, #activity-range4, #activity-range5, #activity-range6, #activity-range7, #activity-range8, #activity-range9 {
    height: 1vh;
    width: 90%;
    margin-left: 5%;
    margin-top: -0.8vh;
}

#activity-number1, #activity-number2, #activity-number3, #activity-number4, #activity-number5, #activity-number6, #activity-number7, #activity-number8, #activity-number9  {
    font-family: 'Space Grotesk', sans-serif;	
    font-size: 2vh;
    color: white;
}