<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="result.css">
    <script defer src="res.js"></script>
    <title>Results</title>
</head>
<body>
    <h1 class='header'>Results</h1>
    <h2 class = 'meals'>Breakfast</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Eggs</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Bacon</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Cheese</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = 'meals'>Lunch</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Un</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Deux</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Trois</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = 'meals'>Dinner</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">One</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Two</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text">Three</h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;200</p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;100</p>
                </div>
                <div class="circle">
                    <p>Fat<br>100</p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;400</p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
</body>
</html>